<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Hologram</title>
  </head>
  <body>
    <form method="post" action="/new.json">
      <label for="what">What happened</label>
      <textarea name="what" required></textarea>
      <label for="feel">How do I feel?</label>
      <input name="feel" type="text" required />
      <input type="submit" />
    </form>
  </body>

  <style></style>
</html>
